.Allevents {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 40px;
}

.AllEnvetsButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 0 20px;
}

@media screen and (max-width: 1200px) {
    .Allevents {
        padding: 0 80px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1100px) {
    .Allevents {
        /* justify-content: space-between; */
        padding: 0 80px;
    }
}

@media screen and (max-width: 768px) {
    .Allevents {
        /* justify-content: space-between; */
        padding: 0 20px !important;
        margin-top: 30px;
    }

    .EventTitle>h2 {
        font-size: 25px !important;
        margin-bottom: 20px !important;
        text-align: center;
    }
}