.Category {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 60px;
}

@media screen and (max-width: 1160px) {
    .Category {
        justify-content: space-between;
        padding: 0 20px;
    }
}