.cYcnau {
    background: white !important;
    border-color: white !important;
    display: block;
}

.DkxSo {
    display: block;
}

.DkxSo:disabled {
    background: white !important;

}

.bVoXXg {
    justify-content: center;
    align-items: center;
    display: flex;
}

.hgxHVR {
    display: none !important;
}

@media screen and (max-width: 550px) {

    .cYcnau {
        display: none;
    }

    .DkxSo {
        display: none;
    }
}