.cYcnau {
    background: white !important;
    border-color: white !important;
    display: block;
}

.DkxSo {
    display: block;
}

.DkxSo:disabled {
    background: white !important;

}

.hgxHVR {
    display: none !important;
}

@media screen and (max-width: 768px) {

    .cYcnau {
        display: none;
    }

    .DkxSo {
        display: none;
    }
}