.headerContainer {
    background: #FEE827;
    position: sticky;
    top: 0;
    z-index: 100;
}

.infoHeaderContainer {
    background: #000;
}

#activeHeader {
    background: black;
    color: white;
    padding: 0 20px;
    border-radius: 20px;
}

.header {
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    position: relative;
}

.translateDiv {
    height: auto;
    position: absolute;
    width: 150px;
    background: white;
    left: -100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
}

.languageWrapper {
    display: flex;
    height: 40px;
    justify-content: space-around;
}

.languageWrapper:last-child {
    height: 20px;
}

.languageWrapper>p {
    width: 80px;
}

.languageWrapperImg {
    width: 30px;
}

.inputWRapper {
    position: relative;
    width: 100%;
}

.infoHeader {
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

.phonNumber {
    color: #FFF;
    font-family: Arian AMU Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.social {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.social>svg {
    cursor: pointer;
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    /* color: #02DAA0; */
    cursor: pointer;
}

.Headertext {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #12134A;
    cursor: pointer;
    /* padding: 0 20px; */
}

.textWrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

.buttonWrapperHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 999;
}

.buttonWrapperHeaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.user {
    cursor: pointer;
}

.FreeSvg {
    position: absolute;
    right: 0;
    top: 77px;
}

.FreeSvg1 {
    position: absolute;
    right: 20px;
    top: 10px;
}

.Translate {
    position: relative;
    display: block;
    z-index: 999;
}

.menuSvg {
    display: none;
}

.FreeSvg1 {
    display: block;
}

.FreeSvg {
    display: none;
}

.socialm {
    display: none;
}

.searchDivWrapper {
    background-color: rgba(234, 235, 237, 1);
    max-height: 250px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 33;
    max-width: 1200px;
    margin: auto;
    left: 0;
    right: 0;

}

#LoadingSearch {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.searchDivWrapper>div {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.searchDivWrapper>div:hover {
    background-color: rgba(217, 217, 217, 1);
}


@media screen and (max-width: 1200px) {
    .FreeSvg1 {
        display: none;
    }

    .header {
        padding: 5px 80px;
    }

    .infoHeader {
        padding: 5px 80px;
    }

    .FreeSvg {
        display: block;
        margin-top: -40px;
    }
}

.notfoundSearch {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .socialm {
        display: block;
        width: 50px;
        display: flex;
        justify-content: space-between;
    }

    .phonNumber {
        font-size: 14px;
    }

    .social {
        display: none;
    }

    .header {
        padding: 5px 20px !important;
    }

    .infoHeader {
        padding: 5px 20px !important;
    }

    .textWrapper {
        display: none;
    }

    .FreeSvg {
        display: block;
        top: 80px !important;
    }

    .menuSvg {
        display: block;
    }

    .FreeSvg1 {
        display: none;
    }
}