.headerContainer {
    background: #EAEBED;
}

.header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #02DAA0;
    cursor: pointer;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #12134A;
    cursor: pointer;
}

.textWrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 16px 20px;
    }
    .textWrapper {
        display: none;
    }
}