.eachTopEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 500px;
}

.topEventImage {
    width: 100%;
    height: 400px;
    cursor: pointer;
}

.topEventImage>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.topEventDetails {
    width: 90%;
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.topEventDetails>h3 {
    color: #12134A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.topEventDetails>span {
    color: #12134A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 1024px) {
    .eachTopEvent {
        max-width: 230px;
        height: 400px;
    }

    .topEventImage {
        height: 300px;
    }
}