.eachTopEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
    max-width: 350px;
    height: 600px;
}

.topEventImage {
    width: 100%;
    height: 500px;
}

.topEventImage>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.topEventDetails {
    width: 90%;
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

.topEventDetails>h3 {
    color: #12134A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.topEventDetails>span {
    color: #12134A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    .eachTopEvent {
        max-width: 230px;
        height: 400px;
    }

    .topEventImage {
        height: 300px;
    }

    .topEventDetails {
        bottom: 0px;
    }
}