.hallWrapper {
    height: 500px;
    overflow-y: scroll;
    overflow-y: scroll;
    z-index: 333;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    background: #c2beb4;
}


.hall {
    display: flex;
    gap: 30px;
    width: 100%;
    background: #c2beb4;
    padding-bottom: 50px;
}

#hall {
    opacity: 0.4;
    width: 100%;
}

.hidden {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
}

.eachSeat {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    position: absolute;
}

.parter {
    width: 100px;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Teatertext {
    color: white;
    font-size: 13px;
}

.activeButton {
    background-color: #fc7115;
    width: 10px !important;
    height: 10px !important;
}

.cartLine {
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.cartLine>div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.addTicketButton {
    background-color: 'green';
}

#seatStyle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.HallWithoutSeat {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 30px;
    margin-bottom: 30px;
}

.HallTitle {
    font-size: 24px;
    font-weight: 700;
    min-width: 170px;
}

.HallDate {
    font-size: 15px;
}

.HallBuyTicket {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.HallWithoutSeatButton>input {
    width: 40px;
    height: 30px;
    text-align: center;
}

.HallWithoutSeatText {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 400px;
}

.HallWithoutSeatButton {
    display: flex;
    align-items: center;
    gap: 30px;
}

.ButtonHallWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}