.parter {
    width: 100px;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-size: 13px;
}

.activeButton {
    background-color: #fc7115;
    width: 10px !important;
    height: 10px !important;
}