.alice-carousel__dots-item:not(.__custom) {
    width: 20px;
    height: 8px;
    cursor: pointer;
    /* border-radius: 6px; */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #000000
}

.alice-carousel__dots-item:not(.__custom).__active {
    background-color: #FEE827;
}

.Desckription {
    width: 35%;
    height: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    left: 0;
    margin: auto;
    justify-content: space-around;
}

.Desckription>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
}

.Desckription>div>span {
    color: #121212;
    font-family: Arian AMU Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titleCarusel {
    color: #121212;
    font-family: Arian AMU Serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

@media screen and (max-width: 1170px) {
    .alice-carousel {
        padding: 0 80px;
    }
}

@media screen and (max-width: 768px) {
    .Desckription {
        width: 45% !important;
        /* height: 200px !important; */
        padding: 0 !important;
        gap: 1px !important;
        justify-content: space-around !important;
        align-items: center !important;
    }

    .Desckription>div {
        align-items: center;
    }

    .titleCarusel {
        color: #121212;
        font-family: Arian AMU Serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        text-align: center;
    }

    .alice-carousel__wrapper {
        line-height: initial;
        height: 180px;
        border-radius: 6px;
        padding: 0 20px;
    }

    .CaruselItem>img {
        width: 100%;
        height: 180px;
    }

    .Desckription>div>span {
        font-size: 10px !important;
        text-align: center;
        padding: 0 3px;
    }

    .ButtonWrapperCarusel {
        height: 40px;
    }

    .alice-carousel {
        padding: 0 20px !important;
    }

    .alice-carousel__dots {
        margin: 5px 3px 5px;
    }
}